---
import "../styles/navbar.scss";
const name = "Muhammad Zaidan | 1234567890"
---

<nav>
    <div class="menu">
        <h1>ZCode</h1>
        <div class="hamburger">
            <input type="checkbox" id="hamCheck"/>
            <div class="lines"></div>
            <div class="lines"></div>
            <div class="lines"></div>
        </div>
    </div>
    <div class="side" id="hamSide">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Project</li>
            <li>Payment</li>
            <li>{name}</li>
        </ul>
    </div>
</nav>
<script src="../scripts/navbar.js"></script>